{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
		<form method="POST" enctype="multipart/form-data">
			{{form.hidden_tag()}}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">
					Envio de código
				</legend>
				<div class="form-group">
					{{form.file.label(class="form-group")}}
					{{form.file(class="form-control form-control-lg")}}
				</div>
			</fieldset>
			<div class="form-group">
				{{form.submit(class="btn btn-outline-info")}}
			</div>
		</form>
	</div>
{% endblock content %}
